* {
    margin: 0;
    /* background-color: transparent !important; */
    color: white;
}

time_info {
    display: none;
}

time_info * {
    display: none;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ 和 Edge */
    user-select: none;         /* 标准语法 */
  }

.fontsize_big {
    font-size: 30px;
}

.icon_insite {
    margin-left: 20px;
    margin-right: 20px;
    height: 60px;
    display: inline;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.fl_L {
    float: left;
}

.fl_R {
    float: right;
}

.w_fit {
    width: fit-content;
}

.textboxInMiddle_left {
    display: flex;                  /* 启用Flexbox */
    flex-direction: column;         /* 子元素垂直排列 */
    justify-content: space-around;  /* 子元素在主轴线上均匀分布，并在两端保留空间 */
    align-items: flex-start;        /* 子元素在交叉轴上居中对齐 */
    height: 100%;                   /* 父元素需要有确定的高度 */
}

.textboxInMiddle {
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.theNavBar {
    margin: 0;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
    box-shadow: 0px 1px 6px rgba(0, 255, 229, 0.5);
}

.datetime {
    margin-left: auto;
    margin-right: 2em;
    display: flex;            /* 启用Flexbox */
    flex-direction: column;   /* 子元素垂直排列 */
    justify-content: space-around;
}

.main_container {
    position: relative;
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    height: fit-content;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px) !important;
    box-shadow: 0px 1px 4px rgba(0, 255, 229, 0.5);
}