
.maxim_jar {
    margin: 1.875rem auto;
    padding: 1.25rem;
    width: 80%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px) !important;
    box-shadow: 0px 1px 4px rgba(0, 255, 229, 0.5);
}

.maxim {
    margin: 1.5rem;
}

.maxim .maxim_cn {
    font-size: 1.5rem;
}

.maxim .maxim_en {
    font-size: 1.25rem;
}

.maxim_jar hr {
    border: 0;
    margin: 0 auto;
    height: 0;
    width: 20rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

@media screen and (max-aspect-ratio: 9/16) and (max-width: 768px) {
	maxim * {
		font-size: 0.6em;
	}
}