.typer {
  border-right: 2px solid;
  border-color: white;
  width: fit-content;
  height: 1.5em;
  letter-spacing: 3px;
  animation: blink-caret 0.75s step-end infinite;
}

/* 光标闪烁效果 */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white
   }
}