@keyframes load_msgb {
    0% {
        transform: scale(0%) translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: scale(100%) translateY(0);
        opacity: 1;
    }
}
@keyframes remove_msgb {
    0% {
        transform: scale(100%) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(0%) translateY(-50px);
        opacity: 0;
    }
}